<% const placeholder = "https://www." %>

<div class="write-group">
  <textarea required class = "user-write" placeholder = "Name" name="name" id="name" maxlength="30"></textarea>
</div>

<div class="form-group">
  <label for="youtube">Youtube</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="youtube" id="youtube" />
</div>
<div class="form-group">
  <label for="twitch">Twitch</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="twitch" id="twitch" />
</div>
<div class="form-group">
  <label for="facebook">Facebook</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="facebook" id="facebook" />
</div>
<div class="form-group">
  <label for="twitter">Twitter</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="twitter" id="twitter" />
</div>
<div class="form-group">
  <label for="tiktok">Tiktok</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="tiktok" id="tiktok" />
</div>
<div class="form-group">
  <label for="instagram">Instagram</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="instagram" id="instagram" />
</div>
<div class="form-group">
  <label for="linkedin">LinkedIn</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="linkedin" id="linkedin" />
</div>
<div class="form-group">
  <label for="github">Github</label>
  <input class = "input" placeholder = "<%= placeholder %>" name="github" id="github" />
</div>

<div class="write-group">
  <textarea require class = "user-write input-description" name="description" placeholder = "description" id="Description" maxlength="300"></textarea>
</div>

<button class = "publish" type="submit">Publish</button>