<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet/styles.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= card.name %></title>
</head>
<body>
    <div class = "wrapper">
        <div class = "card">
            <h1 class = "name"><%= card.name %></h1>
            <div class = "links">
                <% if(card.youtube.startsWith("https://www.youtube.com")){%>
                    <a href="<%= card.youtube %>" target="_blank"> 
                        <button class = "link"><img src="/images/youtube.svg"/><p>Youtube</p></button>
                    </a>
                <%}%>
                <% if(card.twitch.startsWith("https://www.twitch.tv")){%>
                    <a href="<%= card.twitch %>" target="_blank"> 
                        <button class = "link"><img src="/images/twitch.svg"/><p>Twitch</p></button>
                    </a>
                <%}%>
                <% if(card.facebook.startsWith("https://www.facebook.com")){%>
                    <a href="<%= card.facebook %>" target="_blank"> 
                        <button class = "link"><img src="/images/facebook.svg"/><p>Facebook</p></button>
                    </a>
                <%}%>
                <% if(card.twitter.startsWith("https://www.twitter.com")){%>
                    <a href="<%= card.twitter %>" target="_blank"> 
                        <button class = "link"><img src="/images/twitter.svg"/><p>Twitter</p></button>
                    </a>
                <%}%>
                <% if(card.tiktok.startsWith("https://www.tiktok.com")){%>
                    <a href="<%= card.tiktok %>" target="_blank"> 
                        <button class = "link"><img src="/images/tiktok.svg"/><p>Tiktok</p></button>
                    </a>
                <%}%>
                <% if(card.instagram.startsWith("https://www.instagram.com")){%>
                    <a href="<%= card.instagram %>" target="_blank"> 
                        <button class = "link"><img src="/images/instagram.svg"/><p>Instagram</p></button>
                    </a>
                <%}%>
                <% if(card.linkedin.startsWith("https://www.linkedin.com")){%>
                    <a href="<%= card.linkedin %>" target="_blank"> 
                        <button class = "link"><img src="/images/linkedin.svg"/><p>Linkedin</p></button>
                    </a>
                <%}%>
                <% if(card.github.startsWith("https://www.github.com")){%>
                    <a href="<%= card.github %>" target="_blank"> 
                        <button class = "link"><img src="/images/github.svg"/><p>Github</p></button>
                    </a>
                <%}%>
            </div>
            <div class = "description">
                <% if(card.description){%>
                    <p><%= card.description %></p>
                <%}%>
            </div>
        </div>
        <div class = "create">
            <hr>
            <a href = "/">Create your own business card</a>
        </div>
    </div>
</body>
</html>